
*.o

Bootloader/BMFS/bmfs\.bin

Bootloader/Pure64/bmfs_mbr\.sys

Bootloader/Pure64/pure64\.sys

Bootloader/Pure64/pxestart\.sys

Image/packedKernel\.bin

Image/x64BareBonesImage\.img

Image/x64BareBonesImage\.qcow2

Image/x64BareBonesImage\.vmdk

Kernel/kernel\.bin

Userland/0000-sampleCodeModule\.bin

Userland/0001-sampleDataModule\.bin
